<p>
  <b>Task:</b>
  <%=h @task_share.task_id %>
</p>

<p>
  <b>User:</b>
  <%=h @task_share.user_id %>
</p>

<p>
  <b>Num shares:</b>
  <%=h @task_share.num_shares %>
</p>


<%= link_to 'Edit', edit_task_share_path(@task_share) %> |
<%= link_to 'Back', task_shares_path %>